#root {
  /* max-width: 1280px; */
  /* text-align: center; */
}
.pokesContainer {
  /* width:1700px; */
  width: 80%;
  justify-content: center;
  align-self: center;
  max-width: 1400px;
  min-height: 50vw;
}
a {
  text-decoration: none;
}
.pokeCard {
  border-radius: 30px;
  border-width: 1px;
  /* border-color:grey ; */
  text-align: center;
  text-decoration: none;

  background: linear-gradient(
    90deg,
    rgba(10, 27, 106, 1) 0%,
    rgba(25, 19, 62, 1) 100%
  );
  box-shadow: 0 0px 5px rgba(81, 92, 255, 0.1), 0 0px 5px rgba(81, 92, 255, 0.1),
    0 0px 10px rgba(81, 92, 255, 0.1), 0 0px 15px rgba(81, 92, 255, 0.1),
    0 0px 15px rgba(255, 244, 244, 0.1);
}
.pokeCard:hover {
  transform: scale(1.05);
  box-shadow: 0 0px 10px rgba(81, 92, 255, 0.1),
    0 0px 10px rgba(81, 92, 255, 0.1), 0 0px 15px rgba(81, 92, 255, 0.1),
    0 0px 15px rgba(255, 244, 244, 0.1) 0 0px 20px rgba(255, 244, 244, 0.1) 0
      0px 20px rgba(255, 244, 244, 0.1);
}
.heart-icon {
  transition: color 0.3s ease-in-out; /* Add a transition for the color property */
}
.showMoreBtn {
  background: rgba(81, 92, 255, 0.1);
  border-radius: 10px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 18px;
  box-shadow: 0 0px 5px rgba(81, 92, 255, 0.1), 0 0px 5px rgba(81, 92, 255, 0.1),
    0 0px 10px rgba(81, 92, 255, 0.1), 0 0px 15px rgba(81, 92, 255, 0.1),
    0 0px 15px rgba(255, 244, 244, 0.1);
  transition: 0.6s;
  opacity: 1;
}
.showMoreBtn:hover {
  opacity: 0.7;
}

.semi-donut {
  --percentage: 0;
  width: 100px; /* Adjusted width */
  height: 50px; /* Adjusted height */
  position: relative;
  color: #fff;
  font-size: 11px; /* Adjusted font-size */
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}

.semi-donut:after {
  content: "";
  width: 100px;
  height: 100px;
  border: 25px solid;
  border-color: grey grey var(--fill) var(--fill);
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
  animation: fillAnimation 1.5s ease-in;
}
@keyframes fillAnimation {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(135deg);
  }
}

@media screen and (max-width: 576px) {
  .semi-donut {
    --percentage: 0;
    width: 60px; /* Adjusted width */
    height: 30px; /* Adjusted height */
    position: relative;
    color: #fff;
    font-size: 11px; /* Adjusted font-size */
    /* font-weight: 600; */
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
  }

  .semi-donut:after {
    content: "";
    width: 60px;
    height: 60px;
    border: 10px solid;
    border-color: grey grey var(--fill) var(--fill);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
    animation: fillAnimation 2s ease-in;
  }
  .pokeCard{
    /* height: */
  }
}
@media screen and (max-width: 400px) {
  .semi-donut {
    --percentage: 0;
    width: 50px; /* Adjusted width */
    height: 25px; /* Adjusted height */
    position: relative;
    color: #fff;
    font-size: 11px; /* Adjusted font-size */
    /* font-weight: 600; */
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
  }

  .semi-donut:after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid;
    border-color: grey grey var(--fill) var(--fill);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
    animation: fillAnimation 2s ease-in;
  }
}

.detailBox {
  padding: 20px;
  padding-left:40px;
  margin-top: 20px;
  /* height: 300px; */
  position: relative;
  box-shadow: 0 0px 5px rgba(81, 92, 255, 0.1), 0 0px 5px rgba(81, 92, 255, 0.1),
    0 0px 10px rgba(81, 92, 255, 0.1), 0 0px 15px rgba(81, 92, 255, 0.1),
    0 0px 15px rgba(255, 244, 244, 0.1);
    border-radius: 20px;
    text-align: left
}
.pokeDetailTxt{
  font-size: 16px;
  color:white;
}

.arrow-right {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.arrow-right{
  content: '';
  width: 30px; /* ปรับขนาดความกว้างของลูกศร */
  height: 15px; /* ปรับขนาดความสูงของลูกศร */
  border-top: 7.5px solid transparent;
  border-bottom: 7.5px solid transparent;
  border-left: 7.5px solid #fff; /* สีของลูกศร */
  transform: translateY(-50%);
  z-index: 1; /* ย้ายลูกศรไปข้างหน้าภาพ */
}

.evoContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.evoCard{
  /* display:block; */
  width:100%;
  /* background:red */
  cursor: pointer;
}
.evoImage{
  width:70%;
  /* box-shadow: 0 0px 5px rgba(81, 92, 255, 0.1), 0 0px 5px rgba(81, 92, 255, 0.1),
  0 0px 10px rgba(81, 92, 255, 0.1), 0 0px 15px rgba(81, 92, 255, 0.1),
  0 0px 15px rgba(255, 244, 244, 0.1); */
  background: none;
  border: none;
  margin-bottom: 20px;

}

@media screen and (max-width: 1200px) {
  .arrow-right {
    transform: rotate(90deg);
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .evoContainer {
    flex-direction: column;
  }
  .evoImage{
    width:50%;
  }
  .custom-toggler.navbar-toggler {
    /* color: white !important; */
    /* fill: red; */
    /* border-color: white !important; */
    /* background-color: white !important; */
  }
}
